* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: baseline;
}
li {
  display: inline;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}
.bgColor {
  transition: all 1s;
  background-color: whitesmoke;
  color: black;
  border-bottom: 1px solid lightgray;
}
.sec1 {
  background-image: url(portrait-asian-woman-rock-sunset-around-ocean-vacation_74190-13308.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-attachment: fixed;
}
.home {
  font-size: 0.6cm;
  color: black;
  padding-left: 10cm;
  padding-top: 3cm;
  display: flex;
  flex-direction: column;
}
.search-input {
  margin-top: 0.4cm;
  width: 5cm;
  height: 1cm;
}
.sec2 {
  height: fit-content;
  margin-bottom: 1cm;
}
.div1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1cm;
  /* background-color: blue; */
}
.div1 h3 {
  font-size: 0.8cm;
}
.div1 p {
  font-size: 0.45cm;
  margin: 0.5cm 2cm 1cm 2cm;
  gap: 1cm;
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2cm;
}
.div2 {
  width: 7cm;
}
.i1 {
  width: 5cm;
}
.sec3 {
  background-color: grey;
  height: fit-content;
}
.img1 {
  width: 9cm;
  margin-top: 1cm;
  margin-right: 1cm;
}
.pop {
  font-size: 0.8cm;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 1cm;
}
.imagediv,
.imagediv2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div4 {
  padding-bottom: 1cm;
}
.sec4 {
  height: fit-content;
}
.div5 {
  font-size: 0.8cm;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1cm;
}
.div6 {
  margin: 1cm 1cm 1cm 1cm;
}
.sec4 h5 {
  font-size: 0.7cm;
  margin-bottom: 0.6cm;
}
.call {
  display: flex;
  flex-direction: row;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  margin-top: 10px;
  background: #3b5998;
  color: white;
  margin-bottom: 10px;
}
.fa-instagram {
  margin-top: 10px;
  background: palevioletred;
  color: white;
  margin-bottom: 10px;
}
.div7 {
  display: flex;
  flex-direction: column;
  margin-left: 1cm;
  margin-bottom: 1cm;
}
